.maindiv{
height:820px;
width:100%;
}
.header{
height:100px;
width:100%;
background-color:#808080;
}
.logo{
height:100px;
width:10%;
float:left;
}
img{
height:100px;
width:90%;
float:left;
filter:brightness(50%);
}
.menubar{
height:30px;
width:35%;
float:right;
margin-top:70px;
font-family:Impact;
white-space:pre;
}
.Marqueebar{
height:20px;
width:100%;
background-color:white;
font-weight:bold;
color:red;
}
.mainbody{
height:600px;
width:100%;
background-color:pink;
}
.mainbodypart1{
height:600px;
width:30%;
float:left;
background-color:#EEA2FA;
}
.mainbodypart2{
height:300px;
width:70%;
float:right;
background-color:#DDAE3F;
}
.mainbodypart3{
height:300px;
width:70%;
float:right;
background-color:#808080;
}
.part1{
height:300px;
width:50%;
float:left;
background-color:blue;
}
.part2{
height:300px;
width:50%;
float:right;
background-color:black;
}
.footer{
height:100px;
width:100%;
background-color:rgb(128,128,128);
}
.QQQ{
text-decoration:none;
}

